<!DOCTYPE html>
<html>
  <head>
    <title>CounterApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Counter App", root_path, id: "logo", class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <%= link_to "Timers", timers_index_path, class: "nav-link" %></li>
          <% if logged_in? %>
            <li class="nav-item"> <%= link_to "Reset Timer", '#', class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"> <%= link_to "New Timer", stopwatch_path, class: "nav-link" %></li>
          <% end %>
          
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
