<!DOCTYPE html>
<html>
  <head>
    <title>CounterApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if controller.action_name == "inspiration"%>
      <div class="container-fluid">
    <% else %>
      <div class="container">
    <% end %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <% if Rails.env.development? %>
        <div class="card">
          <div class="card-body">
            <%= debug(params) %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
